.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.container {
    padding: 2rem 0rem;
}

.container {
    padding: 2rem 0rem;
}
.img-responsive{
    width: 100%;
}


.cart-button {
    background-color: #333;
    border-radius: 5px;
    color: white;
    border-color: white;
    display: inline-block;
    float: right;
    margin-top: 9px;
    margin-right: 30px;
}

.cart-button:hover {
    background-color: white;
    color: black;
}




/* Navbar container */
.nav-bar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the navbar */
.nav-bar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown-class {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown-class .dropdown-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.nav-bar a:hover, .dropdown-class:hover .dropdown-button {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-list a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-list a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown-class:hover .dropdown-list {
    display: block;
}

.cart-button {
    background-color: #333;
    border-radius: 5px;
    color: white;
    border-color: white;
    display: inline-block;
    float: right;
    margin-top: 9px;
    margin-right: 30px;
}

.cart-button:hover {
    background-color: white;
    color: black;
}



